<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('Auto Dealer Shop: Add New Offer')"/>
<body>
<main class="main">
    <nav th:replace="fragments/menu::menu"/>

    <div class="container">
        <h2 class="text-center text-white">Upload Offer</h2>
        <form th:object="${offer}" class="mx-auto col-md-8 d-flex flex-column justify-content-center" method="POST">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold" for="category">Vehicle Category</label>
                    <select th:field="*{category}" id="category" class="form-control">
                        <option th:each="cat : ${T(softuni.springbootvehicles.model.entity.VehicleCategory).values()}"
                                th:value="${cat}"
                                th:text="${cat}" th:selected="${offer.category == cat}">
                            Vehicle Category
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="model">Model</label>
                    <select th:field="*{model}" id="model" class="form-control"
                            th:classappend="${#fields.hasErrors('model')} ? 'field-error'">
                        <option value="">- Select a model -</option>
                        <optgroup th:each="brand : ${brands}" th:label="|-- ${brand.name} --|">
                            <option th:each="brand_model : ${brand.models}" th:value="${brand_model.id}"
                                    th:text="|   ${brand.name} ${brand_model.name}|"
                                    th:selected="${offer.model != null && brand_model.id == offer.model.id}">
                                Model
                            </option>
                        </optgroup>
                    </select>
                    <p th:if="${#fields.errors('model')}" th:errors="*{model}"
                       class="errors alert alert-danger">
                        Vehicle model is required</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                    <select th:field="*{engine}" id="engine" class="form-control" th:errorclass="field-error">
                        <option value="">- Select engine type -</option>
                        <option th:each="eng_type : ${T(softuni.springbootvehicles.model.entity.EngineType).values()}"
                                th:value="${eng_type}"
                                th:text="${eng_type}" th:selected="${offer.engine == eng_type}">
                            Engine Type
                        </option>
                    </select>
                    <p th:if="${#fields.errors('engine')}" th:errors="*{engine}"
                       class="errors alert alert-danger">
                        Engine type is required</p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                    <select th:field="*{transmission}" id="transmission" class="form-control"
                            th:errorclass="field-error">
                        <option value="">- Select transmission type -</option>
                        <option th:each="trans_type : ${T(softuni.springbootvehicles.model.entity.TransmissionType).values()}"
                                th:value="${trans_type}"
                                th:text="${trans_type}" th:selected="${offer.transmission == trans_type}">
                            Transmission type
                        </option>
                    </select>
                    <p th:if="${#fields.errors('transmission')}" th:errors="*{transmission}"
                       class="errors alert alert-danger">
                        Vehicle transmission type is required</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="year" class="text-white font-weight-bold">Year</label>
                    <input th:field="*{year}" id="year" type="number" min="1900" max="2099" step="1"
                           class="form-control"
                           placeholder="Manufacturing year"/>
                    <p th:if="${#fields.errors('year')}" th:errors="*{year}"
                       class="errors alert alert-danger">
                        Manufacturing year is required</p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                    <input th:field="*{mileage}" id="mileage" type="number" min="0" max="900000" step="1000"
                           class="form-control" th:errorclass="field-error"
                           placeholder="Mileage in kilometers"/>
                    <p th:if="${#fields.errors('mileage')}" th:errors="*{mileage}"
                       class="errors alert alert-danger">
                        Vehicle mileage in km is required</p>
                </div>
            </div>
            <div class="form-group ">
                <label for="price" class="text-center text-white font-weight-bold">Price</label>
                <input th:field="*{price}" id="price" type="number" min="0" step="100" class="form-control"
                       th:errorclass="field-error"
                       placeholder="Suggested Price"/>
                <p th:if="${#fields.errors('price')}" th:errors="*{price}"
                   class="errors alert alert-danger">
                    Vehicle price is required</p>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field="*{description}" id="description" type="textarea" class="form-control" rows="3"
                          th:errorclass="field-error"
                          placeholder="Description"></textarea>
                <p th:if="${#fields.errors('description')}" th:errors="*{description}"
                   class="errors alert alert-danger">
                    Description is required</p>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input th:field="*{imageUrl}" id="imageUrl" type="url" class="form-control"
                          th:errorclass="field-error"
                          placeholder="Put vehicle image URL here"></input>
                <p th:if="${#fields.errors('imageUrl')}" th:errors="*{imageUrl}"
                   class="errors alert alert-danger">
                    Vehicle image URL is required</p>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex ">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer::footer"/>
</body>
</html>